body {
	font-family: Helvetica;	
	font-size: 24pt;
	background-image: url("bg.jpg");
}

h1 {
	font-size: 64pt;
}

#container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 200px;
	mix-blend-mode: screen;
	color: #CFCFCF;
}